<div class="h-full p-6">
  <div class="max-w-7xl mx-auto space-y-6 h-full">
    <div class="mb-13">
      <div class="flex items-center justify-between">
        <div>
          <h1 class="text-3xl font-bold text-foreground mb-2">
            Financial Goals
          </h1>
          <p class="text-muted-foreground">
            Track your progress and stay motivated
          </p>
        </div>
        <button
          (click)="openForm()"
          class="text-white p-1 border border-muted px-6 py-3 rounded-xl font-medium hover:bg-muted cursor-pointer"
        >
          + Add New Goal
        </button>
      </div>
    </div>

    @if (isOpen()) {
    <app-new-goal (close)="closeForm()" />
    }
    <!-- Summary cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <!-- Current Balance -->
      <div class="card">
        <div class="flex justify-between items-start">
          <div>
            <p class="hero-value text-primary">$12,485.50</p>
            <p class="hero-label">Total Saved</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="flex justify-between items-start">
          <div>
            <p class="hero-value text-success">$5,240.00</p>
            <p class="hero-label">Total Target</p>
          </div>
          <div class="hero-icon">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- Expenses This Month -->
      <div class="card">
        <div class="flex justify-between items-start">
          <div>
            <p class="text-destructive">100%</p>
            <p class=" ">Overall Progress</p>
          </div>
          <div class="hero-icon">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
              />
            </svg>
          </div>
        </div>
        <div class="mt-2">
          <span
            class="text-xs px-2 py-1 bg-warning/20 text-warning rounded-full"
            >$1,120.75 remaining</span
          >
        </div>
      </div>
    </div>

    <!-- goal cards -->
    <div class="mt-6 grid gap-6 md:grid-cols-2">
      @for (goal of goals(); track goal.id) {
      <app-goal [goal]="goal" />
      }
    </div>
  </div>
</div>
